* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Barlow';
    src: url('barlow/Barlow-Regular.otf') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #EFF6FF;
    font-family: 'Barlow', sans-serif;
    display: flex;
}

.big-container {
    display: flex;
    width: auto;
    height: 100%;
    justify-content: center;
    padding: 50px;
    background-color: #EFF6FF;
}

.left-container {
    position: relative;
    width: auto;
    height: auto;
}

.logo {
    position: absolute;
    top: 50px;
    left: 50px;
    height: 30px;
}

.right-container {
    height: auto;
    width: auto;
    padding-left: 50px;
    padding-right: 100px;
    background-color: #FFFFFF;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    padding-top: 40px;
    padding-bottom: 25px;
    margin-top: 40px;
    font-weight: 500;
}

.header p {
    padding-bottom: 50px;
    color: #7B8B98;
}

.register-buttons {
    display: flex;
    justify-content: space-between;
    gap: 50px;

}

.register-buttons button {
    width: 250px;
    height: 40px;
    border: none;
    color: white;
    position: relative;
    font-family: 'Barlow', sans-serif;
    font-weight: 50;
}

.register-buttons button img {
    height: 16px;
    width: 16px;
    position: absolute;
    top: 12px;
    left: 16px;
}


.fb {
    background-color: #255A9B;
}

.lk {
    background-color: #0076B6;
}

.or-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.line {
    border: 1px solid #F6F6F6;
    width: 100px;
    margin: 20px;
}

.or-section span {
    display: flex;
    justify-content: center;
    color: #898989;
    font-size: 12px;
}

.input-box-container {
    position: relative;
    margin-bottom: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.input-box {
    width: 50%;
    padding: 8px 8px 12px 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.email-box {
    border-left: 2px solid #65AEFC;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-box input {
    border: none;
    height: 20px;
}

.input-box-container label {
    color: #999;
    font-size: 12px;
}

.investor {
    margin-bottom: 50px;
}

.investor h2 {
    font-weight: 400;
    margin-bottom: 18px;
    color: #3D5766;
    font-weight: 300;
}

.investor p {
    color: #7B8B98;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.options label {
    color: #6D6D6D;
}

.options input {
    margin-right: 10px;
}

.info-box {
    background-color: white;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #E0E0E0;
    max-width: 280px;
    margin-bottom: 50px;
}

.agree {
    font-size: 13px;
    margin-bottom: 50px;
}

.agree input {
    margin-right: 10px;
}

.agree label {
    color: #CDCDCD;
}

.agree a {
    color: #A0CEFC;
}

.create-button {
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 4px;
    background-color: #3698FB;
    color: white;
}

button,
.options input {
    cursor: pointer;
}